 /* General container styles */
 .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
.header {
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.heading h1 {
    margin: 0;
    font-size: 24px;
}

.create-btn {
    margin-top: 10px;
}

.alert-box {
    margin-top: 15px;
}

/* Sidebar styles */
.sidebar {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    width: 200px;
    flex-shrink: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.sidebar .nav-link {
    color: #fff;
    padding: 10px 15px;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

/* Body styles */
.body {
    margin-left: 220px; /* To account for the fixed sidebar */
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table img {
    display: block;
    margin: 0 auto;
}

/* Footer styles */
.footer {
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
