.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
input.quantity-input.form-control.mx-2 {
    width: 20%;
}

.test{
    font-size: 1.2em;
    font-weight: bold;
    color: #d9534f; /* Red color */
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #d9534f;
    border-radius: 5px;
    background-color: #f9f9f9;
}